pipeline/PL_Pre-Processing.json
{
	"name": "PL_Pre-Processing",
	"properties": {
		"activities": [
			{
				"name": "Check Previous Execution",
				"description": "Query the current execution table for worker pipelines that require a clean up from the previous execution run.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Execute Precursor",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ControlFramework].[CheckPreviousExecution]",
						"storedProcedureParameters": {
							"BatchName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.BatchName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ControlFramework",
						"type": "DatasetReference",
						"parameters": {
							"secretName": {
								"value": "@pipeline().globalParameters.controlFrameworkSecretName",
								"type": "Expression"
							},
							"secretURL": {
								"value": "@pipeline().globalParameters.controlFrameworkSecretURL",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Clean Up Previous Run",
				"description": "Handle Worker pipelines that are reported as Running when the parent pipeline is called again. Get what the actual status of those pipelines is.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Check Previous Execution",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Check Metadata Integrity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Check Previous Execution').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Log Pipeline Checking",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ControlFramework].[SetLogPipelineChecking]",
								"storedProcedureParameters": {
									"ExecutionId": {
										"value": {
											"value": "@item().LocalExecutionId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"PipelineId": {
										"value": {
											"value": "@item().PipelineId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StageId": {
										"value": {
											"value": "@item().StageId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ConfigId": {
										"value": {
											"value": "@item().ConfigId",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzSqlDb",
								"type": "LinkedServiceReference",
								"parameters": {
									"secretName": {
										"value": "@pipeline().globalParameters.controlFrameworkSecretName",
										"type": "Expression"
									},
									"secretURL": {
										"value": "@pipeline().globalParameters.controlFrameworkSecretURL",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set Pipeline Status",
							"description": "Update the metadata depending on the actual pipeline outcome. Using the status as the case.",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "Get Pipeline Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@activity('Get Pipeline Status').output.status",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Failed",
										"activities": [
											{
												"name": "Pipeline Status Failed",
												"description": "Updates the current execution table with a pipeline status of failed if the API call outcome is failed. Also blocks pipelines in the downstream execution stage.",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[ControlFramework].[SetLogPipelineFailed]",
													"storedProcedureParameters": {
														"ExecutionId": {
															"value": {
																"value": "@item().LocalExecutionId",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"PipelineId": {
															"value": {
																"value": "@item().PipelineId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"RunId": {
															"value": null,
															"type": "Guid"
														},
														"StageId": {
															"value": {
																"value": "@item().StageId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ConfigId": {
															"value": {
																"value": "@item().ConfigId",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_AzSqlDb",
													"type": "LinkedServiceReference",
													"parameters": {
														"secretName": "connstr-sqldb-env-metastore",
														"secretURL": "https://goadmp-dev-env-lurp-kv.vault.azure.net/"
													}
												}
											}
										]
									},
									{
										"value": "Succeeded",
										"activities": [
											{
												"name": "Pipeline Status Succeeded",
												"description": "Updates the current execution table with a pipeline status of success if the API call outcome is succeeded.",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[ControlFramework].[SetLogPipelineSuccess]",
													"storedProcedureParameters": {
														"ExecutionId": {
															"value": {
																"value": "@item().LocalExecutionId",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"PipelineId": {
															"value": {
																"value": "@item().PipelineId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"StageId": {
															"value": {
																"value": "@item().StageId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ConfigId": {
															"value": {
																"value": "@item().ConfigId",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_AzSqlDb",
													"type": "LinkedServiceReference",
													"parameters": {
														"secretName": "connstr-sqldb-env-metastore",
														"secretURL": "https://goadmp-dev-env-lurp-kv.vault.azure.net/"
													}
												}
											}
										]
									},
									{
										"value": "Queued",
										"activities": [
											{
												"name": "Pipeline Status Queued - Running",
												"description": "Updates the current execution table with a pipeline status of running if the API call outcome is queued.",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[ControlFramework].[SetLogPipelineRunning]",
													"storedProcedureParameters": {
														"ExecutionId": {
															"value": {
																"value": "@item().LocalExecutionId",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"PipelineId": {
															"value": {
																"value": "@item().PipelineId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"StageId": {
															"value": {
																"value": "@item().StageId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ConfigId": {
															"value": {
																"value": "@item().ConfigId",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_AzSqlDb",
													"type": "LinkedServiceReference",
													"parameters": {
														"secretName": "connstr-sqldb-env-metastore",
														"secretURL": "https://goadmp-dev-env-lurp-kv.vault.azure.net/"
													}
												}
											}
										]
									},
									{
										"value": "InProgress",
										"activities": [
											{
												"name": "Pipeline Status InProgress - Running",
												"description": "Updates the current execution table with a pipeline status of running if the API call outcome is in progress.",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[ControlFramework].[SetLogPipelineRunning]",
													"storedProcedureParameters": {
														"ExecutionId": {
															"value": {
																"value": "@item().LocalExecutionId",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"PipelineId": {
															"value": {
																"value": "@item().PipelineId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"StageId": {
															"value": {
																"value": "@item().StageId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ConfigId": {
															"value": {
																"value": "@item().ConfigId",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_AzSqlDb",
													"type": "LinkedServiceReference",
													"parameters": {
														"secretName": "connstr-sqldb-env-metastore",
														"secretURL": "https://goadmp-dev-env-lurp-kv.vault.azure.net/"
													}
												}
											}
										]
									},
									{
										"value": "Cancelled",
										"activities": [
											{
												"name": "Pipeline Status Cancelled",
												"description": "Updates the current execution table with a pipeline status of cancelled if the API call outcome is cancelled.",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[ControlFramework].[SetLogPipelineCancelled]",
													"storedProcedureParameters": {
														"ExecutionId": {
															"value": {
																"value": "@item().LocalExecutionId",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"PipelineId": {
															"value": {
																"value": "@item().PipelineId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"StageId": {
															"value": {
																"value": "@item().StageId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"CleanUpRun": {
															"value": {
																"value": "@bool(1)",
																"type": "Expression"
															},
															"type": "Boolean"
														},
														"ConfigId": {
															"value": {
																"value": "@item().ConfigId",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_AzSqlDb",
													"type": "LinkedServiceReference",
													"parameters": {
														"secretName": "connstr-sqldb-env-metastore",
														"secretURL": "https://goadmp-dev-env-lurp-kv.vault.azure.net/"
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Pipeline Status Unknown",
										"description": "Updates the current execution table with a pipeline status of unknown if the API call returns an unexpected outcome.",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ControlFramework].[SetLogPipelineUnknown]",
											"storedProcedureParameters": {
												"ExecutionId": {
													"value": {
														"value": "@item().LocalExecutionId",
														"type": "Expression"
													},
													"type": "Guid"
												},
												"PipelineId": {
													"value": {
														"value": "@item().PipelineId",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"StageId": {
													"value": {
														"value": "@item().StageId",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"CleanUpRun": {
													"value": {
														"value": "@bool(1)",
														"type": "Expression"
													},
													"type": "Boolean"
												},
												"ConfigId": {
													"value": {
														"value": "@item().ConfigId",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_AzSqlDb",
											"type": "LinkedServiceReference",
											"parameters": {
												"secretName": {
													"value": "@pipeline().globalParameters.controlFrameworkSecretName",
													"type": "Expression"
												},
												"secretURL": {
													"value": "@pipeline().globalParameters.controlFrameworkSecretURL",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "Set Last Check DateTime",
							"description": "Update the current execution table with a date time from when the API call last checked the pipeline status.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Get Pipeline Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ControlFramework].[SetLogPipelineLastStatusCheck]",
								"storedProcedureParameters": {
									"ExecutionId": {
										"value": {
											"value": "@item().LocalExecutionId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"PipelineId": {
										"value": {
											"value": "@item().PipelineId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StageId": {
										"value": {
											"value": "@item().StageId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ConfigId": {
										"value": {
											"value": "@item().ConfigId",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzSqlDb",
								"type": "LinkedServiceReference",
								"parameters": {
									"secretName": {
										"value": "@pipeline().globalParameters.controlFrameworkSecretName",
										"type": "Expression"
									},
									"secretURL": {
										"value": "@pipeline().globalParameters.controlFrameworkSecretURL",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Get Pipeline Status",
							"description": "",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Log Pipeline Checking",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.04:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://management.azure.com/subscriptions/@{item().SubscriptionId}/resourceGroups/@{item().ResourceGroupName}/providers/Microsoft.DataFactory/factories/@{item().DataFactoryName}/pipelineruns/@{item().PipelineRunId}?api-version=2018-06-01",
									"type": "Expression"
								},
								"method": "GET",
								"authentication": {
									"type": "MSI",
									"resource": "https://management.core.windows.net/"
								}
							}
						}
					]
				}
			},
			{
				"name": "Execute Precursor",
				"description": "Uses the database property value ExecutionPrecursorProc to run any custom logic against the metadata database before the execution run starts.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Is Parent Already Running",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ControlFramework].[ExecutePrecursorProcedure]",
					"storedProcedureParameters": {
						"Batch": {
							"value": {
								"value": "@pipeline().parameters.BatchName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzSqlDb",
					"type": "LinkedServiceReference",
					"parameters": {
						"secretName": {
							"value": "@pipeline().globalParameters.controlFrameworkSecretName",
							"type": "Expression"
						},
						"secretURL": {
							"value": "@pipeline().globalParameters.controlFrameworkSecretURL",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Is Parent Already Running",
				"description": "Establish before anything else if the parent pipeline is already running. Batch execution aware.",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Check_For_Running_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"BatchName": {
							"value": "@pipeline().parameters.BatchName",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"ThisRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Check Metadata Integrity",
				"description": "Performs a series of checks on all metadata held in the framework SQLDB. This is intended to raise errors before an execution run even starts.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Precursor",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ControlFramework].[CheckMetadataIntegrity]",
					"storedProcedureParameters": {
						"BatchName": {
							"value": {
								"value": "@pipeline().parameters.BatchName",
								"type": "Expression"
							},
							"type": "String"
						},
						"DebugMode": {
							"value": {
								"value": "true",
								"type": "Expression"
							},
							"type": "Boolean"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzSqlDb",
					"type": "LinkedServiceReference",
					"parameters": {
						"secretName": {
							"value": "@pipeline().globalParameters.controlFrameworkSecretName",
							"type": "Expression"
						},
						"secretURL": {
							"value": "@pipeline().globalParameters.controlFrameworkSecretURL",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"BatchName": {
				"type": "string",
				"defaultValue": "NotUsed"
			}
		},
		"folder": {
			"name": "Control Framework/Utilities"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-26T16:02:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}